<div class="w-screen h-screen bg-gray-50 relative">
    <div class="absolute w-full h-full">
        <img class="absolute w-96 left-0 bottom-0" src="assets/images/svg/undraw_walking_together_p172.svg" alt="bg left">
        <img class="absolute w-96 right-0 bottom-0" src="assets/images/svg/undraw_pilates_ltw9.svg" alt="bg rigth">
    </div>
    <div class="relative w-4/12 m-auto">
        <header class="pt-6 pb-2 flex justify-center">
            <img class="w-56" src="assets/images/svg/undraw_color__schemes_wv48.svg" alt="logo">
        </header>
        <div class="bg-white rounded shadow">
            <h1>as</h1>
        </div>
    </div>
</div>