<section class="bg-green-100 h-screen">
  <div class="flex flex-col items-center px-6 py-8 mx-auto">
    <div class="w-full bg-white rounded-lg">
      <div class="p-6 space-y-4">
        <h1 class="text-xl font-bold leading-tight text-gray-900">Crear cuenta</h1>
        <form class="space-y-4"  action="">
          <div>
            <label for="email" class="block mt-2 mb-2">Correo</label>
            <input type="text" id="email">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

